<% layout("layout/boilerplate") %>

<div class="alert alert-primary" role="alert">
  Thanks for booking <%= room.name %>, we will contact you shortly.
  <a class="btn btn-info ms-4" href="/rooms">All Rooms</a>
</div>
